footer progress {
  width: 30%;
  max-width: 200px;
  margin-left: auto;
  margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
  .data {
    padding: 20px;
    grid-template-areas:
                "all live"
                "all die";
    grid-gap: 20px;
    grid-auto-rows: 50% 50%;
    grid-auto-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media only screen and (max-width: 1025px) {
  .data {
    padding: 20px 50px;
    grid-template-areas:
                "all"
                "live"
                "die";
    grid-gap: 50px;
    overflow-y: scroll;
  }

  .ssh-list {
    height: 60vh;
    overflow: scroll;
  }
}