.ports-input {
  display: flex;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  input {
    margin: 0 !important;
  }
}

.ports {
  overflow-x: hidden;
  button {
    padding: 5px 10px !important;
  }
  tr > *:first-child {
    padding-right: 0;
  }
}

footer {
  .options {
    display: flex;
    align-items: center;
    gap: 0;
    * {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.split-buttons {
  display: flex;
  gap: 0;
  width: 100%;
  justify-content: center;
  & > * {
    margin: 0;
  }
  & > *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > *:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .data {
    padding: 20px;
    grid-template-areas:
                "ports-control all"
                "ports all";
    grid-gap: 20px;
    grid-auto-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media only screen and (max-width: 1025px) {
  .data {
    padding: 20px 50px;
    grid-template-areas:
                "ports-control"
                "ports"
                "all";
    grid-gap: 50px;
    overflow-y: scroll;
  }
}