<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SSHManager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=a436bee1e5ae414f98db7ca13adfd7c0">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css?h=d15dfcb68fabe0442ff06063b052477c">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css?h=b486ae8ecf6c38e7b0073c57ef30f22f">
    <link rel="stylesheet" href="/assets/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div class="container" id="main-app">
        <div class="modal fade" role="dialog" tabindex="-1" id="settings-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Settings</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Max SSH processes</span></div><input class="form-control" type="number" min="1" step="1" v-model="temp_settings.process_count">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button" v-on:click="settings = temp_settings" data-toggle="modal" data-target="#settings-modal">Save</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="import-ssh-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Import SSH</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body"><textarea placeholder="1.2.3.4|user|pass" style="width: 100%;" rows="10" onchange="vm.$data.ssh_text = this.value"></textarea></div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button" v-on:click="import_ssh_text(ssh_text)" data-toggle="modal" data-target="#import-ssh-modal">Import</button></div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button mb-1">
            <div class="container-fluid"><a class="navbar-brand" href="#">SSH Manager</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/check-ssh">Check SSH</a></li>
                        <li class="nav-item"><a class="nav-link" href="/connect-ssh">Connect SSH</a></li>
                    </ul><span class="navbar-text actions"> <button class="btn btn-light action-button" type="button" data-toggle="modal" data-target="#settings-modal" v-on:click="temp_settings = settings">Settings</button></span>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col"><button class="btn btn-primary mx-1" type="button" onclick="check_ssh()">Check SSH</button><button class="btn btn-outline-primary mx-1" type="button" data-toggle="modal" data-target="#import-ssh-modal" v-on:onclick="ssh_text = ''">Import SSH</button></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="text-left">SSH</h1>
                    </div>
                    <div class="col text-right">
                        <div class="btn-group"><button class="btn btn-primary" type="button" v-on:click="export_csv(ssh_list, 'ssh.txt')">Export</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#" v-on:click="ssh_list = []">Delete list</a></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>User</th>
                                <th>Pass</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ssh in ssh_list" :key="ssh.ip">
                                <td>{{ssh.ip}}</td>
                                <td>{{ssh.username}}</td>
                                <td>{{ssh.password}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="text-left text-success">Live</h1>
                    </div>
                    <div class="col text-right">
                        <div class="btn-group"><button class="btn btn-primary" type="button" v-on:click="export_csv(ssh_live_list, 'live.txt')">Export</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#" v-on:click="ssh_live_list = []">Delete list</a></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>User</th>
                                <th>Pass</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ssh in ssh_live_list" :key="ssh.ip">
                                <td>{{ssh.ip}}</td>
                                <td>{{ssh.username}}</td>
                                <td>{{ssh.password}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="text-left text-danger">Die</h1>
                    </div>
                    <div class="col text-right">
                        <div class="btn-group"><button class="btn btn-primary" type="button" v-on:click="export_csv(ssh_list, 'ssh.txt')">Export</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#" v-on:click="ssh_die_list = []">Delete list</a></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>User</th>
                                <th>Pass</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ssh in ssh_die_list" :key="ssh.ip">
                                <td>{{ssh.ip}}</td>
                                <td>{{ssh.username}}</td>
                                <td>{{ssh.password}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>The content of your modal.</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <div class="social"><a href="https://facebook.com/khanh.luong.6"><i class="icon ion-social-facebook"></i></a><a href="https://t.me/khanhhne"><i class="fab fa-telegram-plane"></i></a><a href="https://zalo.me/0968259849"><i class="fa fa-phone"></i></a></div>
        <p class="copyright">KhanhhNe © 2021</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=75b741e6afdc9ac33d9fde7f010bc77e"></script>
    <script src="/assets/js/check-ssh.js?h=1bdf6141ce915067849685ae7da6bf81"></script>
    <script src="/assets/js/vue-app.js?h=31dcc54fab006baede4b185cb32ae2b0"></script>
    <script src="/assets/js/common.js?h=1a1b3d2a97388b54bc8ffe36319df723"></script>
    <script src="/assets/js/fileSaver.js?h=3dc79a489531e4f96ebcb674709ec092"></script>
</body>

</html>